@media only screen and (min-width: 64rem){
/*Join page*/
.join{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    
    text-align: left;
}
form fieldset{
    margin: 0 0;
    grid-column: 1/3;
}
p{
    width: fit-content;
    grid-row: 2;
}
.joinSec{
    grid-column: 3;
}
nav{
    background-color: rgba(9, 155, 9, 0.5);
}
nav ul#primaryNav{
    display: flex;
    justify-content: flex-start;
}
nav button {
    display: none;
}

nav ul li a {
    border: none;
    
}
#busdes{
    width: 50rem;
    height: 100px;
}
.submitBtn{
    background-color: green;
    border: none;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 90%;
    max-width: 20rem;
    color: white;
}
}