@media only screen and (min-width: 64rem){
nav{
    background-color: rgba(9, 155, 9, 0.5);
}
nav ul#primaryNav{
    display: flex;
    justify-content: flex-start;
}
nav button {
    display: none;
}

nav ul li a {
    border: none;
    
}
#spotlight #sl3{
    display: block;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
main #event{
    background-color: aquamarine;
    grid-column: 1/2;
    grid-row: 1/2;
}
main #weather{
    background-color: yellow;
    grid-column: 1/2;
    grid-row: 2/3;
}
main #join{
    background-color: blueviolet;
    grid-column: 1/2;
    grid-row: 3/4;
}
main #hero{
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/3;
}
main #news{
    background-color: orange;
    grid-column: 2/3;
    grid-row: 3/4;
}
main #spotlight{
    grid-column: 3/4;
    grid-row: 1/4;
}
}