hr{
    color: black;
    border-color: black;
}
img{
    width: 10rem;
}
header{
    width: 100%;
    background-color: rgb(2, 97, 2);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
header .top{
    display: flex;
    align-items: center;
}
.titles{
    font-size: 1.5rem;
}
header .socials{
    display: flex;
    align-content: flex-end;
    padding-left: 20px;
}
header .socials img{
    width: 3rem;
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0, 0, 0, .5);
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}
nav ul {
    display: none;
}
nav ul.open{
    display:block;
}
#hamBtn span:nth-child(1){
    display: block;
}
#hamBtn span:nth-child(2){
    display: none;
}
#hamBtn.open span:nth-child(1){
    display: none;
}
#hamBtn.open span:nth-child(2){
    display: block;
}

.date{
    background-color: rgba(9, 155, 9, 0.5);
    padding: 1.2rem;
    font-size: 1.3rem;
    text-align: center;
}
main{
    display: block;
    text-align: center;
}
#spotlight #sl3{
    display: none;
}
footer{
    background-color: rgb(2, 97, 2);
    text-align: center;   
}