html{
    background-color: rgb(246, 222, 222);
}
header{
    margin: 2em;
    align-content: center;
  background-color: #eed;
  box-shadow: 12px 0 15px -4px black, -12px 0 8px -4px black;
  border-radius:25px;
}

.box{
    border-radius: 25px;
    background-color: 925487;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#bigbox{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 5em;
}
main{
    align-content: center;
}
.portalcontent{
    align-content: center;
    margin-left: 3em;
}
.portalcontent .portaltitle{
    text-align: center;
    font-size: 3em;
}
hr{
    width: 85%;
}
ul{
    background-color: #c3acca;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 93%;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
}
ul li{
    font-size: 20px;
}

p{
    text-align: center;
}
footer{
    font-size: 20px;
}