@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap');

html{
    background-color: rgb(246, 222, 222);
    margin: 5%;

}
body{
    font-famikly: 'Solway', serif;

}
header{
    margin: 2em;
    align-content: center;
    box-shadow: 12px 0 15px -4px black, -12px 0 8px -4px black;
    border-radius:25px;
}

.box{
    border-radius: 25px;
    background-color: 925487;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#bigbox{
    justify-content: space-around;
}
h1{
    font-size: 2.5em;
    padding-left: 20%;
}
main{
    align-content: center;
}
.portalcontent{
    align-content: center;
    margin-left: 1.5em;
}
.portalcontent .portaltitle{
    text-align: center;
    font-size: 1.5em;
}
hr{
    width: 85%;
}
ul{
    background-color: #c3acca;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border-radius: 15px;
    width: fit-content;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;

}
ul li{
    font-size: 1.5rem;
}

p{
    text-align: center;
}
footer{
    font-size: 1rem;
}